body
  margin: 0


header
  align-items: center
  background: #041e42
  color: white
  display: flex
  height: 3em
  justify-content: space-between
  margin: 0
  padding: 0 2em
  width: 95vw
#login, #register
  align-items: center
  background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/a/a6/Major_League_Baseball_logo.svg/1200px-Major_League_Baseball_logo.svg.png')
  background-repeat: repeat
  background-size: 20%
  display: flex
  flex-direction: column
  height: 100vh
  justify-content: center
  width: 100vw
  form
    align-items: center
    background: white
    border: 1px solid grey
    border-radius: 10px
    display: flex
    height: 80%
    flex-direction: inherit
    justify-content: space-around
    min-width: 400px
    width: 30%
    .header
      align-items: center
      display: flex
      justify-content: center
      height: 30%
      text-align: center
    .credentials
      display: flex
      flex-direction: column
      height: 30%
      justify-content: space-around
      width: 80%
      input
        border: 1px solid grey
        border-radius: 4px
        height: auto
        padding: 1em 1.5em
        width: 87%
    .btns
      align-items: center
      display: flex
      height: 30%
      justify-content: space-between
      width: 80%
      .btn
        appearance: auto
        background: #041e42
        color: white
        height: 2.5em
        user-select: none
        white-space: pre
        text-align: center
        cursor: pointer
        padding: 0.5em 1em
        border-radius: 5px
        &:hover
          background: blue
      .link
        appearance: auto
        background: white
        color: #041e42
        user-select: none
        white-space: pre
        text-align: center
        cursor: pointer
        padding: 0.5em 1em
        border-radius: 5px
        &:visited
          color:#041e42
        &:hover
          background: lightgray

.red-text
  color: red
  font-size: 12px
  font-weight: bold